---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => {
    return {
      params: { post: entry.slug },
      props: { entry },
    };
  });
}

const { entry: post } = Astro.props;
const { Content } = await post.render();
---

<BaseLayout title={post.data.title} description={post.data.description}>
  <!-- <p>
  <i>
      Published on <time style="display: inline">{post.data.publishedString}</time
      >
    </i>
  </p> -->
  <!-- {
    article.lastEditedString && (
      <i>
        Last edited on{" "}
        <time style="display: inline">{article.lastEditedString}</time>
      </i>
    )
  } -->
  <Content />
</BaseLayout>
