---
import ArticleLayout from "@/layouts/ArticleLayout.astro";
import { getCollection } from "astro:content";
export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries
    .map((entry) => {
      return {
        params: { post: entry.slug },
        props: { entry },
      };
    });
}

const { entry: post } = Astro.props;
const { Content } = await post.render();
---

<ArticleLayout
  title={post.data.title}
  description={post.data.description}
  publishedDate={post.data.publishedDate as Date} 
>
  <!-- <p>
  <i>
      Published on <time style="display: inline">{post.data.publishedString}</time
      >
    </i>
  </p> -->
  <!-- {
    article.lastEditedString && (
      <i>
        Last edited on{" "}
        <time style="display: inline">{article.lastEditedString}</time>
      </i>
    )
  } -->
  <Content />
</ArticleLayout>
