---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const blog = await getCollection("blog");
---

<BaseLayout title="Blog" description="All of Kory's blog posts">
  <h1>My Articles</h1>
  <ul>
    {blog.map(post => {
      return <p>{post.data.title}</p>
    })}
  </ul>
</BaseLayout>
