---
import BaseLayout from "../../layouts/BaseLayout.astro";
export const prerender = true;
---

<BaseLayout title="Blog" description="All of Kory's blog posts">
  <h1>Blog page</h1>
  <h2>I'll put my writings here (when I have any!)</h2>
</BaseLayout>
