---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { fetchArticlesWithStatus } from "@/scripts/fetchArticles";

const articles = await fetchArticlesWithStatus("Published");
const latestTen = articles.slice(0, 10);
---

<BaseLayout title="Blog" description="All of Kory's blog posts">
  <h1>My Articles</h1>
  {
    latestTen.map((article) => (
      <li>
        <a href={article.slug}>{article.title}</a>
      </li>
    ))
  }
</BaseLayout>
