---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const blog = await getCollection("blog");
// Most recent first
const sortedBlog = blog.toSorted((a, b) => {
  const aPublished = a.data.publishedDate;
  const bPublished = b.data.publishedDate;
  return aPublished > bPublished ? -1 : aPublished < bPublished ? 1 : 0;
})
---

<BaseLayout title="Blog" description="All of Kory's blog posts">
  <h1>My Articles</h1>
  <ul>
    {
      sortedBlog.map((post) => {
        return (
          <li>
            <a href={post.slug}>{post.data.title}</a>&nbsp;({post.data.publishedDate.toLocaleDateString()})
          </li>
        );
      })
    }
  </ul>
</BaseLayout>
