---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Blog" description="All of Kory's blog posts">
  <h1>Blog page</h1>
  <p>My place for storing the various articles I'll write.</p>
</BaseLayout>
