---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Page not found" description="Page not found">
  <h1>There's no page at {Astro.url.pathname}</h1>
  <p>You probably want to go <a href="/">home</a>.</p>
</BaseLayout>
