---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About Kory" description="About Kory Smith">
  <h1>About me</h1>
  <p>My place for giving a small elevator pitch about who I am as a human.</p>
</BaseLayout>
