---
import BaseLayout from "../layouts/BaseLayout.astro";
export const prerender = true;
---

<BaseLayout title="Kory Smith" description="Kory's homepage">
  <h1>Kory Smith's Website</h1>
  <p>
    This is my place to write, learn, experiment, and hang out; my cozy home on
    the internet. Welcome!
  </p>
  <p><i>(Note: this site is a work in progress)</i></p>
</BaseLayout>
