---
import ArticleLayout from "@/layouts/ArticleLayout.astro";

const quotes = [
  {
    quote: "If you can't beat fear, just do it scared.",
    author: "Glennon Doyle Melton",
    id: "if-you-cant-beat-fear",
  },
  {
    quote: "No hurry, no pause.",
    author: "One of the Breema nine principles",
    id: "no-hurry-no-pause",
  },
  {
    quote: "A closed mouth doesn't get fed.",
    author: "Proverb",
    id: "a-closed-mouth-doesnt-get-fed",
  },
  {
    quote: "Fall down 7 times, stand up 8.",
    author: "Japanese proverb",
    id: "fall-down-7-times-stand-up-8",
  },
  {
    quote: "Trust Allah and tie your camel.",
    author: "Unknown",
    id: "trust-allah-and-tie-your-camel",
  },
  {
    quote: "Wherever you go, there you are.",
    author: "Unknown",
    id: "wherever-you-go-there-you-are",
  },
  {
    quote: "What is to give light must endure burning.",
    author: "Victor Frankl",
    id: "what-is-to-give-light",
  },
  {
    quote:
      "Men are born soft and supple; dead they are stiff and hard. Plants are born tender and pliant; dead, they are brittle and dry. Thus whoever is stiff and inflexible is a disciple of death. Whoever is soft and yielding is a disciple of life. The hard and stiff will be broken. The soft and supple will prevail.",
    author: "Lao Tzu",
    id: "men-are-born-soft-and-supple",
  },
  {
    quote:
      "When nothing seems to help, I go and look at a stonecutter hammering away at his rock, perhaps a hundred times without as much as a crack showing in it. Yet at the hundred and first blow it will split in two, and I know it was not that blow that did it, but all that had gone before.",
    author: "Jacob Riis",
    id: "stonecutter-hammering",
  },
  {
    quote: "When a measure becomes a target, it ceases to be a good measure.",
    author: "Charles Goodhart",
    id: "when-a-measure-becomes-a-target",
  },
  {
    quote: "The days are long and the years are short.",
    author: "Unknown",
    id: "the-days-are-long",
  },
  {
    quote: "Everything you want is on the other side of fear.",
    author: "Jack Canfield",
    id: "other-side-of-fear",
  },
  {
    quote:
      "It is not the critic who counts; not the man who points out how the strong man stumbles, or where the doer of deeds could have done them better. The credit belongs to the man who is actually in the arena, whose face is marred by dust and sweat and blood; who strives valiantly; who errs, who comes short again and again, because there is no effort without error and shortcoming; but who does actually strive to do the deeds; who knows great enthusiasms, the great devotions; who spends himself in a worthy cause; who at the best knows in the end the triumph of high achievement, and who at the worst, if he fails, at least fails while daring greatly, so that his place shall never be with those cold and timid souls who neither know victory nor defeat.",
    author: "Theodore Roosevelt",
    id: "it-is-not-the-critic-who-counts",
  },
  {
    quote:
      "There is a vitality, a life force, an energy, a quickening that is translated through you into action, and because there is only one of you in all of time, this expression is unique. And if you block it, it will never exist through any other medium and it will be lost. The world will not have it. It is not your business to determine how good it is nor how valuable nor how it compares with other expressions. It is your business to keep it yours clearly and directly, to keep the channel open.",
    author: "Martha Graham",
    id: "there-is-a-vitality",
  },
  {
    quote:
      "Nothing in this world can take the place of persistence. Talent will not; nothing is more common than unsuccessful men with talent. Genius will not; unrewarded genius is almost a proverb. Education will not; the world is full of educated derelicts. Persistence and determination alone are omnipotent. The slogan 'Press On!' has solved and always will solve the problems of the human race.",
    author: "Calvin Coolidge",
    id: "persistence-and-determination",
  },
  {
    quote: "Begin and then the work will be completed.",
    author: "Johann Wolfgang von Goethe",
    id: "begin-and-then-the-work",
  },
  {
    quote:
      "I fear not the man who has practiced 10,000 kicks once, but I fear the man who has practiced one kick 10,000 times.",
    author: "Bruce Lee",
    id: "practiced-one-kick-10000-times",
  },
  {
    quote:
      "It is difficult to get a man to understand something, when his salary depends on his not understanding it.",
    author: "Upton Sinclair",
    id: "salary-depends-on-not-understanding",
  },
  {
    quote:
      "No man has the right to be an amateur in the matter of physical training. It is a shame for a man to grow old without seeing the beauty and strength of which his body is capable.",
    author: "Socrates",
    id: "no-right-to-be-an-amateur",
  },
  {
    quote: "Tell me and I forget. Teach me and I remember.",
    author: "Ben Franklin",
    id: "tell-me-and-i-forget",
  },
  {
    quote: "Everything should be made as simple as possible, but not simpler.",
    author: "Commonly attributed to Einstein",
    id: "made-as-simple-as-possible",
  },
  {
    quote: "Take care of the days and the years will take care of themselves.",
    author: "Paraphrased from Maria Edgeworth",
    id: "take-care-of-the-days",
  },
  {
    quote:
      "Procrastination expert Rita Emmett explains: “The dread of doing a task uses up more time and energy than doing the task itself.”",
    author: "Barbara Oakley",
    id: "dread-of-doing-a-task",
  },
  {
    quote:
      "The first principle is that you must not fool yourself and you are the easiest person to fool.",
    author: "Richard Feynman",
    id: "you-must-not-fool-yourself",
  },
  {
    quote:
      "Get so sad when I finish my first coffee of the day. I will have a second one soon, but nothing beats your first. I had the whole day ahead of me when I was drinking that, the world was at my feet. Now I'm just some guy getting on with it.",
    author: "Mike Townsend",
    id: "finish-my-first-coffee",
  },
  {
    quote: "If it's stupid but it works, it isn't stupid.",
    author: "Mercedes Lackey",
    id: "if-its-stupid-but-it-works",
  },
  {
    quote: "The purpose of a system is what it does.",
    author: "Stafford Beer",
    id: "purpose-of-a-system",
  },
  {
    quote: "Stop asking $3 questions and start asking $30,000 questions.",
    author: "Ramit Sethi",
    id: "stop-asking-3-dollar-questions",
  },
  {
    quote: "Slow is smooth. Smooth is fast.",
    author: "Old military saying",
    id: "slow-is-smooth",
  },
  {
   quote: "Whoever has the most fun, wins.",
    author: "Unknown",
    id: "most-fun-wins",
  },
  {
    quote: "Shared joy is a double joy; shared sorrow is half a sorrow.",
    author: "Unknown. Allegedly an old Sweedish proverb",
    id: "shared-joy-and-sorrow",
  },
  {
    quote: "Every first draft is perfect because all the first draft has to do is exist.",
    author: "Jane Smiley",
    id: "first-draft-perfect",
  },
  {
    quote: "You think your pain and your heartbreak are unprecedented in the history of the world, but then you read.",
    author: "James Baldwin",
    id: "but-then-you-read",
  },
  {
    quote: "Karma is the beginning of knowledge. Next is patience. Patience is very important. The strong are the patient ones, Anjin-san. patience means holding back your inclination to the seven emotions: hate, adoration, joy, anxiety, anger, grief, fear. If you don't give way to the seven, you're patient, then you'll soon understand all manner of things and be in harmony with Eternity.",
    author: "James Clavell, Shōgun",
    id: "patience-shogun",
  },
  {
    quote: "Don't borrow grief from the future.",
    author: "Unknown",
    id: "dont-borrow-grief",
  },
  {
    quote: `There exists in such a case a certain institution or law; let us say, for the sake of simplicity, a fence or gate erected across a road. The more modern type of reformer goes gaily up to it and says, “I don’t see the use of this; let us clear it away.” To which the more intelligent type of reformer will do well to answer: “If you don’t see the use of it, I certainly won’t let you clear it away. Go away and think. Then, when you can come back and tell me that you do see the use of it, I may allow you to destroy it.”`,
    author: "G.K. Chesterton",
    id: "chestertons-fence"
  },
];
---

<ArticleLayout title="Quotes" description="Quotes that Kory likes and lives by">
  <p>
    Quotes that shape my thinking and that I live by.
    {
      quotes.map((quote) => {
        return (
          <div id={quote.id} class="flex justify-between">
            <blockquote>
              {quote.quote}
              <p>- {quote.author}</p>
            </blockquote>
            <a href={`#${quote.id}`}>#</a>
          </div>
            <hr />
        );
      })
    }
  </p>
</ArticleLayout>
