---
import BaseLayout from "../layouts/BaseLayout.astro";
export const prerender = true;
---

<BaseLayout title="Things I've made" description="Things Kory has made">
  <h1>Things I've made</h1>
	<h2>My place to show off stuff I've created</h2>
</BaseLayout>
