---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Things Kory Uses (And Loves)"
  description="Things Kory Uses (And Loves)"
>
  <h1>Things I use (and love)</h1>
  <p>My place to post about all the tools and software that I adore using.</p>
</BaseLayout>
