---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Things I've made" description="Things Kory has made">
  <h1>Things I've made</h1>
	<p>My place to show off stuff I've created.</p>
</BaseLayout>
