---
import BaseLayout from "../layouts/BaseLayout.astro";
export const prerender = true;
---

<BaseLayout
  title="Things Kory Uses (And Loves)"
  description="Things Kory Uses (And Loves)"
>
  <h1>Things I use (and love)</h1>
	<h2>I want a place where I can </h2>
</BaseLayout>
