---

---

<footer
  role="contentinfo"
  class="wrapper repel text-step-0 pt-s pb-m items-end"
>
  <div class="flow">
    <nav aria-label="secondary navigation">
      <ul role="list" class="cluster text-step-0">
        <li>
          <a href="/uses/">Things I Use</a>
        </li>
        <li>
          <a href="https://github.com/kory-smith/korysmith.dev" rel="external"
            >View Source</a
          >
        </li>
      </ul>
    </nav>
  </div>
</footer>
