---
---

<nav class="menu">
  <ul class="flex justify-end gap-4 mx-16 my-2">
    <a rel="prefetch" href="/"> <li>Home</li></a>
    <a rel="prefetch" href="/blog"><li>Blog</li></a>
    <a rel="prefetch" href="/about"><li>About</li></a>
    <a rel="prefetch" href="/things-i-use"><li>Things I Use</li></a>
    <a rel="prefetch" href="/things-i-made"><li>Things I Made</li></a>
  </ul>
</nav>
