---
---

<header class="site-header">
  <div class="wrapper repel">
    <a class="site-header__brand" href="/">
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAGlJREFUWEftl9EKABAMRfnZfdR+lvcpa01GHa+S03G56a149OL92wIgImMHpapb6Oh6ADCAgf8NRO+9fWPSBgC4bsArL68r0hkAoNyAPePrIQTgOQM2lNFMpLsAAAxg4LgBr2xOz5f/jiczr9Ahlc1SawAAAABJRU5ErkJggg==" alt="Pixellated K in grey" style="image-rendering: pixelated" />
      <nav class="menu cluster text-base">
        <ul class="cluster text-base">
          <a href="/"><li>Home</li></a>
          <a href="/blog/"><li>Blog</li></a>
          <a href="/about/"><li>About</li></a>
        </ul>
      </nav>
    </a>
  </div>
</header>
