---
---

<header class="site-header">
  <div class="wrapper repel">
    <a class="site-header__brand" href="/">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        version="1.2"
        viewBox="0 0 32 32"
        width="32px"
        height="32px"
        style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <g
          ><path
            style="opacity:1"
            class="icon-primary"
            fill="currentColor"
            d="M 4.5,2.5 C 6.83333,2.5 9.16667,2.5 11.5,2.5C 11.5,5.5 11.5,8.5 11.5,11.5C 12.8333,11.5 14.1667,11.5 15.5,11.5C 15.5,10.5 15.5,9.5 15.5,8.5C 19.0681,8.24066 20.4015,6.24066 19.5,2.5C 21.8333,2.5 24.1667,2.5 26.5,2.5C 26.5,4.5 26.5,6.5 26.5,8.5C 25.1667,8.5 23.8333,8.5 22.5,8.5C 22.5,9.5 22.5,10.5 22.5,11.5C 21.5,11.5 20.5,11.5 19.5,11.5C 19.5,14.1667 19.5,16.8333 19.5,19.5C 20.5,19.5 21.5,19.5 22.5,19.5C 22.5,20.5 22.5,21.5 22.5,22.5C 23.8333,22.5 25.1667,22.5 26.5,22.5C 26.5,24.5 26.5,26.5 26.5,28.5C 24.1667,28.5 21.8333,28.5 19.5,28.5C 20.4015,24.7593 19.0681,22.7593 15.5,22.5C 15.5,21.5 15.5,20.5 15.5,19.5C 14.1667,19.5 12.8333,19.5 11.5,19.5C 11.5,22.5 11.5,25.5 11.5,28.5C 9.16667,28.5 6.83333,28.5 4.5,28.5C 4.5,19.8333 4.5,11.1667 4.5,2.5 Z"
          ></path></g
        >
      </svg>
      <nav class="menu cluster text-base">
        <ul class="cluster text-base">
          <a rel="prefetch-intent" href="/"><li>Home</li></a>
          <a rel="prefetch-intent" href="/blog/"><li>Blog</li></a>
          <a rel="prefetch-intent" href="/about/"><li>About</li></a>
        </ul>
      </nav>
    </a>
  </div>
</header>
