@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "iA Writer Mono S";
  src: url("../AiAWriterMonoS.woff2") format("woff2"),
    url("../iAWriterMonoS.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  body {
    /* Set my default font  */
    font-family: "iA Writer Mono S", "Courier New", "monospace";
    background-color: #f9f9f9;
  }
}

nav ul {
  text-decoration: underline;
  text-decoration-color: rgb(254, 135, 29);
  text-decoration-thickness: 2px;
}
