---
import "../base.css";

import Navigation from "../components/Navigation.astro";

interface Props {
	title: string;
	description: string;
}
const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <link rel="preload" href="/iAWriterMonoS-subset.woff2" as="font" type="font/woff2" crossorigin> 
    <link rel="preload" href="/iAWriterMonoS-Bold.woff" as="font" type="font/woff" crossorigin> 

		<meta property="og:image" content="/retro-k.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />

    <title>{title} | Kory Smith</title>
  </head>
  <body>
    <Navigation />
    <div class="region flow prose wrapper">
      <slot />
    </div>
  </body>
</html>
