---
import "@/base.css";

import Navigation from "@/components/Navigation.astro";
import Footer from "@/components/Footer.astro";

interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;

const isHomepage = Astro.url.pathname === "/";

const titleWithSuffix = isHomepage ? title : `${title} | Kory Smith`;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <link
      href="/k-light-mode.png"
      rel="icon"
      media="(prefers-color-scheme: light)"
    />
    <link
      href="/k-dark-mode.png"
      rel="icon"
      media="(prefers-color-scheme: dark)"
    />

    <link
      rel="preload"
      href="/iAWriterMonoS-subset.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/iAWriterMonoS-Bold-subset.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <link rel="sitemap" href="/sitemap-index.xml" />

    <meta property="og:image" content="/og-k.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />

    <title>{titleWithSuffix}</title>
  </head>
  <body>
    <Navigation />
    <main id="main-content">
      <article class="wrapper region prose flow">
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
